body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #5C87B2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #456982;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.search-container {
    margin-bottom: 20px;
    padding: 55px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.search-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single {
    height: 38px;
    padding: 4px 12px;
    border-color: #ced4da;
}
.user-notification {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
    color: #31708f;
    font-size: 16px;
}
